<div class="container">
  <h2>Conversor de Moedas</h2>
  <br>
  <div class="conversor-container">
    <form (ngSubmit)="converter()">
      <div class="form-group">
        <div class="moedas-container">
          <mat-form-field appearance="fill">
            <mat-label>Moeda de Origem</mat-label>
            <mat-select [(ngModel)]="moedaOrigem" name="moedaOrigem">
              <mat-option *ngFor="let moeda of moedas" [value]="moeda">
                {{ moeda }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Moeda de Destino</mat-label>
            <mat-select [(ngModel)]="moedaDestino" name="moedaDestino">
              <mat-option *ngFor="let moeda of moedas" [value]="moeda">
                {{ moeda }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="input-group">
          <mat-form-field appearance="fill">
            <mat-label>Valor a Converter</mat-label>
            <input matInput type="number" [(ngModel)]="valor" name="valor">
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit">Converter</button>
        </div>
      </div>
    </form>

    <div *ngIf="resultado !== null" class="resultado-container">
      <p><strong>Taxa de Conversão:</strong> {{ taxaDeCambio | number:'1.2-2' }}</p>
      <p><strong>Valor Convertido:</strong> {{ resultado | number:'1.2-2' }}</p>
    </div>

    <app-historico-conversoes></app-historico-conversoes>
  </div>
  
</div>
