<div class="container">
  <h2>Lista de Moedas</h2>

  <mat-table [dataSource]="fonteDados" matSort>

    <ng-container matColumnDef="codigo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
      <mat-cell *matCellDef="let moeda"> {{ moeda.codigo }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
      <mat-cell *matCellDef="let moeda"> {{ moeda.nome }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="colunasExibir"></mat-header-row>
    <mat-row *matRowDef="let row; columns: colunasExibir;"></mat-row>
  </mat-table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
